<div class="flex flex-row items-center w-3/6 text-gray-100 text-sm uppercase font-bold" ...attributes>
  <img src="/last-man-standing/assets/{{@babber.photo}}" class="inline-block h-8 w-8 rounded-full ring-2 ring-white" title={{@babber.name}}/>
  <div class="ml-2">
    {{@babber.name}}
  </div>
</div>
