<div class="flex flex-row items-center text-xl uppercase font-bold" ...attributes>
  <img src="/last-man-standing/assets/clubs/70/{{@club.logo}}.png" class="h-8 mx-2 rounded"/>
  <div>
    {{@club.name}}
  </div>
</div>
