<div class="flex flex-col space-y-2">
  <div class="flex flex-col">
    <div class="text-center text-xl lg:text-2xl font-thin text-gray-300">
      SELECTIONS
    </div>

    <div class="flex flex-col items-center space-y-4 p-4">
      {{#each @babbers as |babber|}}
        <Gameweek::Selection @babber={{babber}} @gameweek={{@gameweek}} />
      {{/each}}
    </div>

    <Gameweek::FixtureList @gameweek/>
  </div>
</div>

