<div class="flex flex-col items-center" ...attributes>
  <LinkTo class="w-64 text-center text-xs lg:text-base min-w-max rounded-md p-2 border border-premPurple" @route={{@route}}>{{@text}}</LinkTo>
</div>