<div class="flex flex-col items-center space-y-4 pt-4">
  {{#if this.confirmationMessage}}
    <div class="flex flex-row">
      <span class="text-green-700">{{this.confirmationMessage}}</span>
    </div>
  {{/if}}
  {{#if this.confirmationMessage}}
    <div class="flex flex-row">
      <span class="text-red-500">{{this.errorMessage}}</span>
    </div>
  {{/if}}
  <div class="flex flex-row">
    <label class="block">
      <span class="text-gray-700">Email</span>

      <Input
        @id="email"
        @value={{this.email}}
        class="form-input mt-1 block w-64 border rounded-md border-premPurple"
      />
    </label>
  </div>

  <div class="flex flex-row pt-2">
    <button
      class="w-64 hover:bg-gray-100 text-white font-semibold py-2 px-4 border border-premPurple bg-premPurple hover:text-premPurple rounded-md shadow"
      type="button"
      {{on "click" this.resetPassword}}
    >
      Reset Password
    </button>
  </div>
  <LinkToButton @route="login" @text="Back to Login" />
</div>