<div class="flex flex-col space-y-2 items-center">
  <div class="flex flex-col lg:max-w-2xl p-4 items-center">
    <div class="text-center text-xl lg:text-2xl font-thin pb-4">
      SETTINGS
    </div>

    <div class="flex flex-row space-x-2">
      <Input
        @id="notification-checkbox"
        @type="checkbox"
        @checked={{this.notificationsEnabled}}
        class="self-center"
        {{on "input" this.setNotifications}}
      />
      <label for="notification-checkbox">Enable Notifications</label>
    </div>
  </div>
</div>
