<div class="flex flex-col flex-grow justify-center items-center bg-premPurple w-screen h-screen">
  <img src="/last-man-standing/assets/phil-head.png" class="animate-spin w-16 bg-white ring-2 rounded-full ring-premPurple"/>
</div>
