<div class="flex flex-col items-center space-y-4 p-4">
  <div class="flex flex-row w-full justify-end">
    <LinkTo class="text-xs lg:text-base min-w-max rounded-md p-2 border border-premPurple" @route="index">Current Gameweek</LinkTo>
  </div>
  <div class="flex flex-col flex-grow rounded-xl border w-full shadow lg:max-w-2xl pb-2">
    <table class="mt-2">
      <thead>
      <tr class="text-sm lg:text-lg">
        <th><!--Name--></th>
        <th class="text-left">GP</th>
        <th class="text-left">W</th>
        <th class="text-left">D</th>
        <th class="text-left">L</th>
        <th class="text-left">Total</th>
      </tr>
      </thead>
      <tbody>
      {{#each this.orderedTotals as |standing index|}}
        <Leaderboard::Row @standing={{standing}} @index={{index}} @totalRows={{this.orderedTotals.length}}/>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>