<div class="flex flex-col space-y-2">
  <div class="flex flex-col">
    <div class="text-center text-xl lg:text-2xl font-thin">
      Games
    </div>

    <div class="flex flex-col items-center space-y-4 p-4">
      {{#each @games as |game|}}
        <Admin::Game @game={{game}} @babbers={{@babbers}} @gameweeks={{@gameweeks}}/>
      {{/each}}
    </div>
    <button
      class="w-64 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" type="button" {{on 'click' this.createGame}}
    >
      New Game
    </button>
  </div>
</div>