<div class="text-center text-xl lg:text-2xl font-thin text-gray-300">
  FIXTURES
</div>

<div class="flex flex-col items-center space-y-4 p-4">
  {{#each @gameweek.fixtures as |fixture|}}
    <Gameweek::Fixture @fixture={{fixture}} />
  {{/each}}
</div>
