{{page-title 'Babb - LMS Admin'}}
{{outlet}}
<div class='flex flex-col pb-2'>
  <LinkToButton @route='admin.games' @text='Games' class='pt-4' />
  <LinkToButton @route='admin.selections' @text='Selections' class='pt-4' />
  <LinkToButton @route='admin.babbers' @text='Babbers' class='pt-4' />
  <LinkToButton @route='admin.fixtures' @text='Fixtures' class='pt-4' />
  <LinkToButton @route='index' @text='Back to gameweek' class='pt-4' />
</div>