<HeadLayout />
{{page-title "Babb - Last Man Standing"}}
<div class="sticky flex flex-row justify-between top-0 p-2 bg-premPurple">
  <div class="w-8"></div>
  <div class="flex-grow text-center self-center text-white text-l bigMobile:text-xl lg:text-2xl">LAST MAN STANDING</div>
  <LoggedInAvatar />
</div>
<div class="flex flex-col flex-1 h-full">
  {{outlet}}
</div>


