{{page-title "Babb - Last Man Standing"}}
<div class="absolute inset-0 overflow-auto bg-slate">
  <div class="sticky flex flex-row top-0 p-2 bg-boulder border-b-2 border-euros rounded-b-md shadow-sm">
    <embed src="/last-man-standing/assets/premier-league-logo-header-mob.svg"/>
    <div class="text-right self-center text-xl lg:text-2xl text-gray-300">BABB - LAST MAN STANDING</div>
  </div>
  <div class="flex flex-col flex-1 h-full">
    {{outlet}}
  </div>
</div>

