{{page-title "Babb - Last Man Standing"}}
<div class="fixedContainer">
  <embed src="/last-man-standing/assets/premier-league-logo.svg" class="logo"/>
  <div class="logoBackground"></div>
</div>
<div class="absolute inset-0 overflow-auto">
  <div class="sticky flex flex-row justify-between top-0 p-2 border-b-2 bg-premPurple border-premPurple rounded-b-md shadow-sm">
    <div class="w-8"></div>
    <div class="flex-grow text-center self-center text-white text-xl lg:text-2xl">LAST MAN STANDING</div>
    <img src="/last-man-standing/assets/phil.jpeg" class="w-8 ring-2 rounded-full ring-premPurple"/>
  </div>
  <div class="flex flex-col flex-1 h-full">
    {{outlet}}
  </div>
</div>

